@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  margin: 0;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 3px;
}
.container {
  margin-top: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 10px;
  padding: 20px;
}

h1 {
  margin-top: 5px;
}

h2 {
  margin-top: 5px;
}

.link-container {
  margin: 20px;
}

.link {
  display: block;
  position: static;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

#study {
  background-color: white;
  color: black;
}
#bauindex {
  background-color: rgb(255, 162, 32);
  color: white;
}
#github {
  background-color: #6e5494;
  color: white;
}
#p5 {
  background-color: rgb(237, 34, 93);
  color: white;
}
#projects {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
